<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.back.mapper.SettlementMapper">

    <!-- 진행 중 정산 -->
    <select id="findInProgressSettlementId" resultType="long">
        SELECT id
        FROM settlements
        WHERE trip_id = #{tripId}
          AND status = 'in_progress'
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <!-- 정산 확정 -->
    <update id="completeSettlement">
        UPDATE settlements
        SET
            status = 'completed',
            completed_at = NOW()
        WHERE id = #{settlementId}
          AND status = 'in_progress'
    </update>

    <!-- 정산 경로 확정 -->
    <update id="completeSettlementRoutes">
        UPDATE settlement_routes
        SET
            status = 'completed',
            completed_at = NOW()
        WHERE settlement_id = #{settlementId}
          AND status = 'requested'
    </update>


    <select id="findLatestSettlementId" resultType="long">
        SELECT id
        FROM settlements
        WHERE trip_id = #{tripId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="findSettlementStatus" resultType="string">
        SELECT status
        FROM settlements
        WHERE id = #{settlementId}
    </select>

    <select id="findRoutes"
            resultType="com.example.back.dto.SettlementDetailResponse$Transfer">
        SELECT
            sr.id AS transferId,
            sr.from_member_id AS fromMemberId,
            fromMember.display_name AS fromMemberName,
            sr.to_member_id AS toMemberId,
            toMember.display_name AS toMemberName,
            sr.amount,
            sr.status,
            NULL AS bank,
            NULL AS accountNumber
        FROM settlement_routes sr
        JOIN trip_members fromMember ON fromMember.id = sr.from_member_id
        JOIN trip_members toMember ON toMember.id = sr.to_member_id
        WHERE sr.settlement_id = #{settlementId}
        ORDER BY sr.id ASC
    </select>

    <select id="findBalances"
            resultType="com.example.back.dto.SettlementBalanceResponse">
        SELECT
            sp.member_id AS memberId,
            tm.display_name AS memberName,
            CASE WHEN tm.user_id = #{userId} THEN TRUE ELSE FALSE END AS isMe,
            sp.net_amount AS amount,
            NULL AS bank,
            NULL AS accountNumber
        FROM settlements s
        JOIN settlement_participants sp ON sp.settlement_id = s.id
        JOIN trip_members tm ON tm.id = sp.member_id
        WHERE s.trip_id = #{tripId}
        AND s.status = 'in_progress'
        ORDER BY tm.id
    </select>


</mapper>